.about{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 680px;
}

.about-dark-mode {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color:  #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 680px;
}

.slide-in-about h1 {
    position: absolute;
    color: #d1d1d1;
    font-family: Spartan-b;
    font-size: 200px;
    opacity: .4;
    transform: translateX(-123%);
    -webkit-transform: translateX(-123%);
    animation: slideInLeft 5s ease forwards;
    -webkit-animation: slideInLeft 5s ease forwards;
    left: 70px;
 
}

.slide-in-about-dark-mode h1 {
    position: absolute;
    color: #3d3c3c;
    font-family: Spartan-b;
    font-size: 200px;
    opacity: .4;
    transform: translateX(-123%);
    -webkit-transform: translateX(-123%);
    animation: slideInLeft 5s ease forwards;
    -webkit-animation: slideInLeft 5s ease forwards;
    left: 70px;

}

@keyframes slideInLeft {
    0%{transform: translateX(-123%)}
    100% {transform: translateX(0);}
}

@-webkit-keyframes slideInLeft {
    0%{transform: translateX(-123%)}
    100% {transform: translateX(0);}
}

.hide h1 {
display: none;
}

.about-container {
    display: flex;
    justify-content: center;
}

.about-container-1 {
    height: 70vh;
}

.about-details, .about-details-dark-mode  {
    position: relative;
    width: 90%;
}

.about-details img {
    width: 170px;
    border-radius: 50%;
    border: rgb(126, 124, 124) solid 3px;
}


.about-dark-mode img {
    width: 170px;
    border-radius: 50%;
    border: rgb(182, 213, 72) solid 3px;

}

.details {
    font-size: 16px;
    max-width: 650px;
    font-family: Spartan-r;
    line-height: 1.7;
    color: black;
}

.details-dark-mode  {
    font-size: 16px;
    max-width: 650px;
    font-family: Spartan-r;
    line-height: 1.7;
    color: #ccd6f6;
}


/* media quries */

@media (width <= 1000px) {
    .slide-in-about h1 {
        display: none;
        
    }
    
    .slide-in-about-dark-mode h1 {
        display: none;
    }
}

