.contact {
    position: relative;
    min-height: 670px;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('./images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 680px;
}


.contact-container h1{
    color: white;
    font-family: Spartan-b;
}

.contact-container-dark-mode h1 {
    color: #ccd6f6;
    font-family: Spartan-b;
}

.message {
    width: 100%;
    display: flex;
    justify-content: center;
}

.message  p{
    color: white;
    font-family: Spartan-r;
    width: 80%;
}

.message-dark-mode p {
    color: #ccd6f6;
    font-family: Spartan-r;
}

.mail-button {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    
}

.main-button {
    
    border: 3px solid white;
    background-color: transparent;
    height: 50px;
    margin-top: 50px;
    color: white;
    cursor:pointer;
    transition: all ease-in-out 0.3s;
}

.main-button-dark-mode {
    border: 3px solid #B6D548;
    background-color: transparent;
    height: 50px;
    margin-top: 50px;
    color: #B6D548;
    cursor:pointer;
    transition: all ease-in-out 0.3s;
}

.main-button:hover, .main-button-dark-mode:hover {
    margin-top: 45px;
}

.main-button:active {
    background-color: white;
    color: black;
}

.main-button-dark-mode:active {
    background-color: #B6D548;
    color: black;
}

.myfooter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
}

.myfooter p {
    color: white;
}

.myfooter p span {
    font-weight: 900;
}

.socials {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;

    margin-left: 30px;
}

.socials a {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5px;


}

.socials a img {
    width: 30px;
    transition: all ease-in-out 0.3s;
}

.socials a img:hover {
    margin-bottom: 10px;
}



.line-container {
    width: 40px;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.line {
    width: 1px;
    height: 150px;
    background-color: white;
}

.line-dark-mode {
    width: 1px;
    height: 150px;
    background-color: #b6d548;
}

.last-quote {
    color: white;
}

.last-quote-dark-mode {
    color: #ccd6f6;
}

.to-the-top {
    border: none;
    width: 90px;
    height: 150px;
    margin-top: 60px;
    background-color: transparent;
}

.take-me {
  
    color: rgba(0, 0, 0, 0) ;
    transition: all 0.3s ease-in ;
}

.to-the-top:hover {
    .take-me {
        color: white;
    }
}

.to-the-top:active{
    .top-icon-image {
        animation: rise .1s ease-in-out infinite ;
    }
}

.top-icon-image{
    animation: moving 2s ease-in-out infinite ;
    width: 40px;
}

.footer-p-dark-mode {
    color: #ccd6f6 !important;
}
@keyframes moving {
    0% {transform: translateY(0%);}
    50%{transform: translateY(-60%);}
    
}

@keyframes rise {
    0% {transform: translateY(0%);}
    50%{transform: translateY(-60%);}
}


/* media queries */


@media (width <= 770px) {
    .socials {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 60px;
       
    }

    .socials-1 {
        display: flex;
    }

    .socials a {
        margin-right: 10px;
    }

    .line-container {
        display: none;
    }

    .to-the-top {
       margin-top: -10px;
    }
    

    
}
