.hero {
    width: 100%;
    height: 100vh;
    min-height: 670px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    background-color:  #d1d1d1 ;
    min-height: 680px;
    z-index: 0;
    
}

.hero-dark-mode {
    width: 100%;
    height: 100vh;
    min-height: 670px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    background-color:  #121212 ;
    min-height: 680px;
    z-index: 0;
    
}



.circle {
    background-color: #e2e2e2;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.circle-dark-mode {
    background-color: #121212;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 30px 0px rgb(182, 213, 72);
}

.myimage{
    position: absolute ;
    bottom: 0;
    max-width: 100%;
    height: auto;
}

.my-intro {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 100%;
    min-height: 680px;
    transform: translateY(-123%);
    -webkit-transform: translateY(-123%);
    animation: slideInDown 5s ease forwards 3s;
    -webkit-animation: slideInDown 5s ease forwards;
    z-index: 0;
    
}

.my-intro-dark-mode {
    position: absolute;
    width: 100%;
    background-color: transparent;
    color: #ccd6f6;
    height: 100%;
    min-height: 680px;
    transform: translateY(-123%);
    -webkit-transform: translateY(-123%);
    animation: slideInDown 5s ease forwards 3s;
    -webkit-animation: slideInDown 5s ease forwards ;
    z-index: 0;
}

@keyframes slideInDown {
    0%{transform: translateY(-123%)}
    100% {transform: translateY(0);}
}

@-webkit-keyframes slideInDown {
    0%{transform: translateY(-123%)}
    100% {transform: translateY(0);}
}

.name{
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.my-intro h1 , .my-intro-dark-mode h1{
    font-size: 60px;
    letter-spacing: 3px;
    font-family: Spartan-b;
    margin-bottom: 0;
}

.my-intro p, .my-intro-dark-mode p {
    font-size: 30px;
    font-family: Spartan-m   ;
}


@media (width <= 410px) {
    .circle{
        display: none;
    }

    .circle-dark-mode {
        display: none;
    }
}