.header {
    position: fixed;
    height: 90px;
    width: 100%;
    max-width: 1400px;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    z-index: 6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin:auto;
    height: 100%;
    padding:  0 1rem;
    transition:all 1s ease ;
    -webkit-transition: all 1s ease ;
}

.navbar-black {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 1400px;
    margin:auto;
    height: 100%;
    padding:  0 1rem;
    background-color: rgba(0, 0, 0, 1);
    transition:all 1s ease ;
    -webkit-transition: all 1s ease ;
}

.navbar-dark-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 1400px;
    margin:auto;
    height: 100%;
    padding:  0 1rem;
    background-color: transparent;
}


.navbar a:link, .navbar-dark-mode a:link {
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 50px;
    
}

.nav-item a {
    padding: 1rem;
    font-weight:  500;
    transition: all .4s ease-in-out;
    font-family: Spartan-m;
    color: white;
}

.nav-item-dark-mode a {
    padding: 1rem;
    font-weight:  500;
    transition: all .4s ease-in-out;
    font-family: Spartan-m;
    color: #ccd6f6;
}



.nav-item a:hover, .nav-item-dark-mode a:hover{
    font-size:20px ;
    letter-spacing: 3px;
}

.now-active {
    font-size:20px ;
    letter-spacing: 3px;
}

.logo1 {
    width: 95px;
    margin-top: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
}

.logo2 {
    width: 95px;
    margin-top: 3px;
    position: absolute;
    left: 16px;
    transition: all .4s ease-in-out;
}

.hamburger {
    display: none;
}


.nav-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55px;
}

.mode {
    height: 100%;
    margin-bottom: 45px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}


label {
    width: 80px;
    height: 30px;
    display: block;
    position: relative;
    background:#ebebeb ;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,.7), inset 0px -5px 15px rgba(255,255,255,0.7);
    cursor: pointer;
    transition: 0.3s;
}

 label:after {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    top: 2px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0,2);
    transition: 0.3s;
}

.switch input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.switch input:checked + label {
    background-color: #242424;
}
.switch input:checked + label:after {
    left: 78px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
    width: 40px;
}

.sun-icon {
    position: absolute;
    width: 20px;
    top: 5px;
    left: 6px;
    z-index: 1;
}

.moon-icon {
    position: absolute;
    width: 20px;
    top: 4px;
    left: 56px;
    z-index: 1;
}







/* media queiries */

@media (width <= 770px) {
    .header {
        max-width: 100%;
        background-color: rgba(0,0,0,0.9);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        position: fixed;
        display: block;  
        right: 20px;
    }

    .hamburger button {
        border: none;
        background-color: transparent;
    }

    .hamburger img {
        width: 30px;
    }

    .nav-mode {
        margin-right: 47%;
        margin-bottom: 10px;
    }

    .nav-menu {
        position: fixed;
        left: 0;
        top: 5rem;
        flex-direction: column;
        background-color: rgba(0,0,0,0.9);
        width: 100%;
        height: 37vh;
        z-index: 999;
        transition: .3s;
        text-align: center;
        padding: 0;
        transition: all ease-in-out .5s ;

    }

    .nav-menu-closed{
        position: fixed;
        left: 0;
        top: 5rem;
        flex-direction: column;
        background-color: rgba(0,0,0,0.9);
        width: 100%;
        height:0;
        z-index: 999;
        transition: .3s;
        text-align: center;
        padding: 0;
        transition: all ease-in-out .5s;
    }

    
    .nav-item a {
        display: block;
       font-size: 25px;
       transition: all ease-in-out .5s;
    }
    
    .nav-item-closed {
        display: none;
        transition: all ease-in-out .5s;
    }

       
    .nav-item-dark-mode a {
        display: block;
       font-size: 25px;
       transition: all ease-in-out .5s;
    }
    
    .nav-item-closed {
        display: none;
        transition: all ease-in-out .5s;
    }
}

@media (width <= 300px) {
    .nav-mode {
        transform: translateX(-20%);
    }
}